body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background: linear-gradient(100deg, #31333C, #54B5AA, #31333C);
    height: 100vh;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}
.inner_header{
    width: 1000px;
    heigh: 100%;
    display: block;
    margin: 0 auto;
}
.spext_header{
    height: 100%;
    display: table;
    float: left;
}
.spext_header h1{
    color: white;
    height: 100%;
    display: table-cell;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 200;
}
.spext_header h1 span{
    font-weight: 800;
    color: #54B5AA;
}
.spext_header a{
    text-decoration: none;
}
.navigation{
    float: right;
    height: 100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;
    cursor: pointer;
    text-decoration: none;
}
.navigation a:last-child{
    padding-right: 0;
}
.navigation a li{
    display: table-cell;
    padding-top: 15px;
    height: 100%;
    width: 80px;
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
.navigation li:hover{
    color: #54B5AA;
    text-decoration: none;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .30);
    display: inline-block;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}
.right_about{
    float: right;
    position: center;
}
.right_about img{
    height: 450px;
    width: 380px;
}
.left_about{
    margin-left: 15px;
    float: left;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.logo_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: whitesmoke;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #ADADADAD;
}
.spext_header h1:hover{
    cursor: pointer;
}